.todoForm{
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: start;
}

.inputForm{
    display: flex;
    flex-direction: column;
}

button{
    margin-top:20px;
    width: 80px;
    padding: 5px;
}
.red{
    border: 2px solid red;
}

.message{
    color: red;
}

input{
    padding: 5px;
}