.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(215, 215, 217);
    width: 600px;
    text-align: start;
    padding: 15px;
}

h2{
    text-align: center;
}

.status{
    display: flex;
}